<!DOCTYPE html>
<html lang="pt" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap </title>

    <!-- Bootstrap core CSS -->
    <link href="content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="Content/dashboard.css" rel="stylesheet">
    <link href="content/toaster.css" rel="stylesheet" />
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="dropdown" ng-controller="notificationController as n">
                    <a href="#" class="btn btn-link dropdown-toggle navbar-brand" id="dropdownMenu1" data-toggle="dropdown">
                        Project name <span class="badge alert-danger">{{n.notifications.length}}</span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" ng-repeat="msg in n.notifications">
                            <a href="javascript:void(0)" role="menuitem" tabindex="-1" ng-click="n.read($index)">{{msg}}</a>
                            <hr />
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#!/contacts">Contatos</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view>
            </div>
            <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
        </div>
    </div>
    <!--jQuery-->
    <script src="scripts/jquery-1.10.2.js"></script>
    <script src="scripts/jquery.signalR-2.0.2.js"></script>
    <!--AngularJS-->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-resource.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="scripts/angular-signalr-hub.js"></script>
    <script src="scripts/toaster.js"></script>
    <!--Demo App TDC-->
    <script src="app/app.js"></script>
    <script src="app/config.js"></script>
    <script src="app/contacts/listContactsController.js"></script>
    <script src="app/contacts/newContactController.js"></script>
    <script src="app/contacts/removeContactModalController.js"></script>
    <script src="app/notification/notificationController.js"></script>
    <script src="app/lib/directives/showErrors.js"></script>
    <script src="app/lib/services/contactResource.js"></script>

</body>
</html>